/* ===GLOBAL=== */
/* ===PRIMARY=== */
/* ===HEADER=== */
/* ===FOOTER=== */
/* ===MAIN SECTION=== */
/* ===HEADINGS=== */
/* ===LINKS=== */
/* ===BUTTONS=== */
/* ===INDEX PAGE=== */
/* ===ABOUT PAGE=== */
/* ===CONTACT PAGE=== */
/* ===WORK PAGE=== */
/* ===MEDIA QUERIES=== */
/* ===ANIMATIONS=== */


/* ===GLOBAL=== */

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* ===PRIMARY=== */

body {
    background-color: #fff;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: 400; 
    font-size: 16px;
    line-height: 1.6;
}

/* -- inline elements -- */

.span__web-developer--highlighted {
    padding:4px;
    border-radius:4px;
    color: #fff;
    background-color: #007dbb;
}

/* -- divs -- */

.div__about-box {
    padding: 10px; /* Adds a 10px inner spacing to all sides*/
    margin: 20px auto; /* Adds a 10px outer spacing to all sides*/
    border: 1px solid #000; /* Attributes describe: thickness, type, color */
    border-radius:4px;
}

/* ===HEADER=== */

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
}

.page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
}

.page-header :last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
    vertical-align: middle;
}

.page-header__logo {
    max-width: 80px;
    border: 4px solid #000;
}

/* -- Navigation -- */

.navigation-list__item {
    text-decoration: none;
    border-bottom: 1px solid #2f796e;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.navigation-list__item:hover {
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.navigation-list__item--active {
    text-decoration: none;
    border-bottom: 1px solid transparent; 
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

/* ===FOOTER=== */

footer {
    padding-top: 40px;
    padding-bottom: 20px;
    clear: both;
}

footer .social {
    text-align: center;
}

footer .social a {
    text-decoration: none;
}

footer .social .social-icon {
    margin: 0px 5px;
}

/* ===MAIN SECTION=== */

section {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 40px;    
}

/* ===HEADINGS=== */

h1 {
    font-size: 30px;
    font-weight: 700;
}
  
h2 {
    font-size: 24px;
    font-weight: 700;
}
  
h3 {
    font-size: 18px;
    font-weight: 700;
}

/* ===LINKS=== */

a {
    color: #2f796e;
}
  
a:visited {
    /* visited link */
    color: #05676e;
}

a:hover, a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
}

a:active {
    /* selected link */
    color: #489c79;
}

/* ===BUTTONS=== */

button  {
    /* overwrites browser defaults and resets the border */
    border: none;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the button */
    background-color: #2f796e;
    color: #fff !important;
    text-decoration: none;
    /*adds spacing to the button; */
    padding: 10px;
    border-radius: 4px;
    /* width of the border, type, color */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    /* opacity transition that lasts 0.2s */
    -webkit-transition: 0.2s opacity;
    -o-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

.button  {
    /* overwrites browser defaults and resets the border */
    border: none;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the button */
    background-color: #2f796e;
    color: #fff;
    text-decoration: none;
    /*adds spacing to the button; */
    padding: 10px;
    border-radius: 4px;
    /* width of the border, type, color */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    /* opacity transition that lasts 0.2s */
    -webkit-transition: 0.2s opacity;
    -o-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

button:hover, button:focus, .button:hover, .button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}

.button__secondary {
    background-color: #e0b354;
    color: #2b2b2b;
}

/* ===INDEX PAGE=== */

.profile {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.profile__portrait {
    width: 100%;
    max-width: 320px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100px;
            flex: 1 1 100px;
}

.profile__portrait-img {
    max-width: 320px;
    width: 100%;
    border-radius: 50%;
}

.profile__text {
    padding: 0px 4%;

    -webkit-box-flex: 2;

        -ms-flex: 2 1 100px;

            flex: 2 1 100px;
  
    display: -webkit-box;
  
    display: -ms-flexbox;
  
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

/* ===ABOUT PAGE=== */

section table {
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

section table th {
    padding: 10px;
}

.div__button-cv--centered {
    text-align: center;
    padding: 60px;
}

.berlin-illustration {
    width: 100%;
    padding: 10px;
}

/* ===CONTACT PAGE=== */

/* ===WORK PAGE=== */

/* Grid fallback*/

.grid__item {
    display: inline-block;
    width: 33%;
}

/* Styling CSS grid*/

.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.grid__item {
    background-color: #d3d3d3;
    padding: 10px;
    /* Set width to auto*/
    width: auto;
}

.grid__item:last-child {
    -ms-grid-column: 3;
    grid-column: 3 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
}

.grid__item--centered {
    text-align: center;
}

/* -- Grid links -- */

.grid__item a {
    color: #00675c;
}

.grid__item a:visited {
    /* visited link */
    color: #05676e;
}
  
.grid__item a:hover {
    /* No underlining when hovering over a link */
    text-decoration: none;
    color: #006b12;
}
  
.grid__item a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
    color: #006b12;
}

.grid__item a:active {
    /* selected link */
    color: #489c79;
}

/* ===MEDIA QUERIES=== */

@media all and (max-width: 500px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 24px;
    }
}

@media all and (max-width: 768px) and (min-width: 500px) {
    .grid {
        -ms-grid-columns: 1fr 15px 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
}

/* ===ANIMATIONS=== */

.sun {
    -webkit-animation: 4s color-change infinite alternate linear;
            animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes color-change {

    0% {
        fill: #edc655;
    }
    50% {
        fill: #fcffad;
    }
    100% {
        fill: #f76414;
    }
}

@keyframes color-change {

    0% {
        fill: #edc655;
    }
    50% {
        fill: #fcffad;
    }
    100% {
        fill: #f76414;
    }
}

.cloud-front {
    -webkit-animation: 30s cloud-move infinite alternate linear;
            animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }
    to {
        -webkit-transform: translate(200px, 50px);
                transform: translate(200px, 50px);
    }
}

@keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }
    to {
        -webkit-transform: translate(200px, 50px);
                transform: translate(200px, 50px);
    }
}

.cloud-back {
    -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
            animation: 34s cloud-move-reverse infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
    }
}

@keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
    }
}